@for $i from 1 through length($colorsNames) {
  $colorName: nth($colorsNames, $i);
  $color: nth($colors, $i);

  .event-#{$colorName} {
    background-color: $color !important;
  }
}

.fc-toolbar {
  .fc-left {
    position: absolute;
    text-align: right;
    right: 10px;
    top: 10px;

    .fc-state-default {
      background: #ffffff;

      &:hover, &.fc-state-active, &.ui-state-active {
        background: #dddddd;
      }
    }
  }

  .fc-center {
    text-align: left;
    display: block;
    margin-top: 5px;
  }

  .fc-right {
    .fc-state-default {
      background: #f5f5f5;

      &:hover {
        background: #dddddd;
      }
    }

    .fc-icon-fa-chevron-left, .fc-icon-fa-chevron-right {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .fc-icon-fa-chevron-right:before {
      content: "\f054";
    }

    .fc-icon-fa-chevron-left:before {
      content: "\f053";
    }
  }

  .fc-state-active, .ui-state-active {
    background: #dddddd;
  }
}

.fc button {
  padding: 0 12px;
  outline: 0;
}

.fc-state-default.fc-corner-right, .fc-state-default.fc-corner-left {
  border-radius: 0;
}

.fc-event {
  background-color: $contrast;
  border-radius: 0;
  border: 0;
}

.fc-ltr .fc-h-event .fc-end-resizer, .fc-rtl .fc-h-event .fc-start-resizer {
  background: $white;
  @include opacity(.3);
}
