.logo-img {
	max-width: 100px;
}

.logo-img-login {
	max-width: 300px;
}


.areaSocialMenu i {
	font-size: 150px;
}
i.fontawesomesize {
	font-size: 30px;
}

.edit-btn {
	margin-top: 10px;
}

.capitalize {
	text-transform: capitalize;
}

textarea {
	resize:none;
}

.dropdown-toggle{
	height: 100px;
}

/***************************/
/***** Person Profile ******/
/***************************/

.profile h4 {
	color: #FFF;
	background-color: #183446;
	padding: 10px 0 10px 10px;
	font-size: 16px;
	margin-bottom: 0px;
}

.profile .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #183446;
  margin-left: 10px;
}

	.profile .v2{
		margin-left: 25px;
	}

.profile .tit {
	color: #595959;
	font-weight: bold;
}

.profile p{
	color: #747474;
	margin-top: 15px;
	line-height: 22px;
}

.profile .box-content{
	margin: 0 auto;
	max-width: 400px;
}

.btn{
	font-size: 16px;
}

/******************************/
/***** End Person Profile *****/
/******************************/


/******************************/
/********* Star app ***********/
/******************************/
.user-btn{
	text-transform: capitalize;
}
/******************************/
/********* End app ***********/
/******************************/


.user-menu{
	margin-top: 15px;
}

.user-name{
	margin-left: 2px;
}



/******************************/
/***** Buscar Beneficiario*****/
/******************************/
.card-frame{
	margin-bottom: 40px;
	text-align: center;
}

.card-frame img{
	border-radius: 50%;
}

.card-frame button{
	width: 130px;
}

.card-title{
	color: #7D7D7D;
	font-size: 18px;
	font-weight: bold;
}

.card-frame h4{

}

.card-text{
	color: #A5A5A5;
	font-size: 15px;
	letter-spacing: 4px;
}

/******************************/
/******************************/




/***************************/
/****** Modal Custom *******/
/***************************/
.modal-custom h4, h5, p{
	font-family: "Arial";
	font-weight: lighter;
}

.modal-custom h5{
	font-size: 12px;
}

.modal-custom h4{
	font-size: 14px;
	font-weight: bold;
}

.modal-custom p{
	font-size: 12px;
	margin-top: 5px;
	text-align: justify;
}

/***************************/
/**** End Modal Custom *****/
/***************************/


/***************************/
/**** User *****************/
/***************************/


#funcionarioUserData {
	display: inline-block;
	margin-left: 15px;
}

#funcionarioUserData,
#funcionarioUserDataIco:hover {
	cursor: pointer;
}

#funcionarioUserDataIco {
	color: #5D5D5D;
}

/***************************/
/**** End User *************/
/***************************/


.accordion .panel-body ul {
	list-style-type: none;
}
