.logo-img {
	max-width: 100px;
}

.logo-img-login {
	max-width: 300px;
}


.areaSocialMenu i {
	font-size: 150px;
}
i.fontawesomesize {
	font-size: 30px;
}

.edit-btn {
	margin-top: 10px;
}

.capitalize {
	text-transform: capitalize;
}

textarea {
	resize:none;
}

#userOptions {
	margin-top: 15px;
}

/***************************/
/***** Person Profile ******/
/***************************/

.tit {
	color: gray;
}

/******************************/
/***** End Person Profile *****/
