
#hverificacion{
    display:inline;
    margin-left:10px;
}

#d1{
    margin-top:10px;
}

.sinpadding{
    padding: 0;
}

.textareawidth
{
  width:100%;
}

.tit {
	color: #595959;
	font-weight: bold;
}
